.BodyProducts {
  display: block;

  width: 100%;

  & h2 {
    text-align: center;
  }
}

.TableMain{
    display: flex;
    justify-content: space-evenly;
   
}

.ItemProduct {
    border: 1px solid rgba(182,232,183);
    border-radius: 30px;
    height: 300px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    scale: 1.0;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.06);
    padding: 10px;


  & img{
    height: 200px;
    width: 100%;
    object-fit: contain;
  }
  & h4{
    color: var(---global-element-color);
  }

  &:hover{
    scale: 0.95;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: none;
    border: 1px solid rgb(182, 232, 183,0.7);
  }

  & .BlockNamePrice{
    text-align: center;
  }
}
