.BodyProducts {
display: grid;

  & h2 {
    text-align: center;
  }
}

.BodyProducts section{
  display: flex;
  justify-content: center;
}

.TableMain{
  display: grid;
  grid-template-columns: repeat(4, 6fr);
  gap: 2rem;

}

.ItemProduct {
  border: 1px solid rgba(0, 0, 0, 0.02);
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  scale: 1.0;
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.06);
  padding-bottom: 20px;

  & img{
    height: 10.125rem;
    width: auto;
    max-width: 100%;
  }

  & h4{
    color: var(---global-element-color);
  }

  &:hover{
    scale: 0.99;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  & span{
    background-color: #000;
    width: 100%;
    text-align: center;
    color: var(---global-body-color);
    text-transform: uppercase;
  }
}


.BlockNamePrice {
  text-align: center;
}

/* Skeleton styles */
.Skeleton {
  border-radius: 4px;

  &.SkeletonImage {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 40px;
  }
  
  &.SkeletonText {
    content: '';
    height: 20px;
    width: 80%;
    margin-bottom: 10px;
  }
  
  &.skeleton-text.short {
    width: 60%;
  }
  
  @keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
  }
  
}

