.bodyContainer{
    justify-content: center;
    display: flex;
    background-color: transparent !important;
}

label{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;

     input{
        background-color: var(---global-body-color);
        
    }
     input:focus{
        outline: none;
        
    }

     button{
        width: 137px;
    }
}


@media (max-width:768px) {


    .bodyContainer{
        flex-direction: column;
        width: 100%;
    }
} 



