.headerContent {
  padding-top: 5px;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  height: 76px;
  position: fixed;
  z-index: 10;
  align-items: center;
  background-image: linear-gradient(to top, var(--global-glass-color) 0%, var(--global-glass-color) 100%);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  transition: background-size 0.5s, box-shadow 0.01s;

  & .buttonLogin {
    color: var(---global-font-color);
    position: fixed;
    top: 33px;
    right: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
  }

  & .buttonLogin:hover {
    color: var(---global-element-color);
  }

  & .buttonLogin::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: var(---global-element-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  & .buttonLogin:hover::after {
    transform: scaleX(1);
  }
}


& nav {
  width: 100%;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  
  & span {
    margin-right: 50px;
    color: var(---global-font-color);
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
    transition: 0.4s;
  }
  
  & span:hover {
    color: var(---global-element-color);
  }
  
  & span::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: var(---global-element-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  & span:hover::after {
    transform: scaleX(1);
  }
}
.toggleOpenMenu,
.toggleCloseMenu {
  position: fixed;
  background-color: transparent;
  border: none;
  color: var(---global-element-color);
  outline: none;
  visibility: hidden;
  opacity: 0;
  
}
.toggleOpenMenu:hover,
.toggleCloseMenu:hover {
  border: none;
}

.boxLogo {
  position: fixed;
  margin-left: 50px;
  background-image: url("../../assets/logo-rgb.png");
  background-size: contain;
  top: 20px;
  width: 200px;
  object-fit: contain;
  background-repeat: no-repeat;
  height: 40px;
  transition: 0.4s;
}

.buyCar {
  width: 37px;
  height: 37px;
  margin-right: 90px;
  position: fixed;
  top: 25px;
  margin-left: -4%;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.4s;
  color: var(---global-element-color);
}

.searchContainer {
  display: flex;
  position: fixed;
  right: 13rem;
  width: 210px !important;
}

.iconSearch {
  cursor: pointer;
  width: 20px;
  height: 20px;
  transition:background 0.4s;
  background: url("../../assets/icon-search-positivo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.inputSearch {
  height: 8px;
  width: 150px;
  margin-right: 15px;
}
.inputSearch:focus {
  outline: none;
}

.scrollDown {
  background-image: linear-gradient(to bottom, var(--global-glass-color) 100%, var(--global-glass-color) 0%);
  background-size: 100% 100%;
  transition: background-size 0.3s, box-shadow 1.2s, backdrop-filter 1s;
  box-shadow: 5px 1px 7px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);


  & span,
  .buttonLogin {
    transition:color 0.5s;
    color: var(---global-body-color);
  }

  & span:hover,
  .buttonLogin:hover {
    color: var(---global-element-secundary-color);
  }

  & span::after,
  .buttonLogin::after {
    background-color: var(---global-element-secundary-color);
  }

  & .boxLogo {
    transition:background-image 0.5s;
    background-image: url("../../assets/logo-aurora-negativo.png");
    position: fixed;
    margin-left: 50px;
    background-size: contain;
    top: 20px;
    width: 200px;
    object-fit: contain;
    background-repeat: no-repeat;
    height: 40px;
  }

  & .buyCar {
    width: 37px;
    height: 37px;
    margin-right: 90px;
    position: fixed;
    top: 25px;
    margin-left: -4%;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    transition:color 0.5s ;
    color: var(---global-body-color);
  }

  & .iconSearch {
    transition:background-image 0.5s ;
    background-image: url("../../assets/icon-search-negativo.png");
  }
  
  & .searchContainer label::after {
    background-color: var(---global-element-secundary-color);
  }
  .toggleOpenMenu,
  .toggleCloseMenu{
    color: var(---global-body-color);
    transition: 0.5s;
  }
}

@media only screen and (max-width: 769px) {
  
  
  .headerContent{
    justify-content: space-between;
    
    
    .boxLogo{
      margin: 0;
      position: fixed;
      width: 150px;
      left: 29%;
    }

    .buyCar{
      position: fixed;
      left: 90%;
      top: 20px;
    }
  }
  .toggleOpenMenu {
    visibility: visible;
    opacity: 1;
    left: 3%;
    top: 25px;
    height: auto;
    width: 5px;
    size: 10px;
    transition: 0.5s;
    
  }
  header nav {
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: rgba(60, 125, 69, 0.8);
    transition: 1s;
    transform: translateY(-100vh);
  }
  header .responsive_nav {
    transform: none;
  }
.searchContainer{
  display: none;
}


  
}
