.headerContent {
  padding-top: 5px;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  height: 76px;
  position: fixed;
  z-index: 10;
  align-items: center;
  background-image: linear-gradient(to top, var(---global-element-color) 0%, var(---global-element-color) 100%);
  background-size: 100% 0%;
  background-repeat: no-repeat;
  transition: background-size 0.3s, box-shadow 0.01s;
  

  & .buttonLogin {
    color: var(---global-font-color);
    position: fixed;
    top: 33px;
    right: 30px;
    color: var(---global-font-color);
    font-weight: 500;
    letter-spacing: 2px;
    text-decoration: none;
  }
}

.scrollDown {
  background-image: linear-gradient(to bottom, var(---global-element-color) 100%, var(---global-element-color) 0%);
  background-size: 100% 100%;
  transition: background-size 0.3s, box-shadow 1.2s;
  box-shadow: 5px 1px 7px 0 rgba(0, 0, 0, 0.3);
  

  & a {
    color: #fff
  }

  & a:hover {
    color: var(---global-element-secundary-color);
  }


  & a::after {
    background-color: var(---global-element-secundary-color);

  }

  & .boxLogo {
    background-image: url("../../assets/logo-aurora-negativo.png") !important;

  }

  & .buyCar {

    width: 40px;
    height: 40px;
    margin-right: 90px;
    position: fixed;
    top: 20px;
    margin-left: -4%;
    cursor: pointer;
    background-image: url("../../assets/icon-buy-car-negativo.png");
    background-size: contain;
    background-repeat: no-repeat;

  }

  & .iconSearch{
    background-image: url("../../assets/icon-search-negativo.png");
  }
}


& nav {
  width: 100%;
  text-align: center;
  display: inline-block;
  cursor: pointer;

  & a {
    margin-right: 50px;
    color: var(---global-font-color);
    font-weight: 500;
    letter-spacing: 2px;
    position: relative;
    text-decoration: none;
  }

  & a:hover {
    color: var(---global-element-color);
  }


  & a::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: var(---global-element-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  & a:hover::after {
    transform: scaleX(1);
  }


}


.boxLogo {
  position: fixed;
  margin-left: 50px;
  background-image: url("../../assets/logo-rgb.png");
  background-size: contain;
  top: 20px;
  width: 200px;
  object-fit: contain;
  background-repeat: no-repeat;
  height: 40px;
}


.buyCar {

  width: 53px;
  height: 53px;
  position: fixed;
  top: 20px;
  margin-left: -4.39%;
  cursor: pointer;
  background-image: url("/src/assets/icon-buyCar.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.formsContainer{
  display: flex;
  position: fixed;
  right: 11%;
}

.iconSearch{
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url("../../assets/icon-search-positivo.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.inputSearch{
 height: 8px;
 width: 150px;
}




@media(max-width:769px) {
    .headerContent{
      width: 100%;
      overflow: hidden;
    }
}