.ImgParallax{
    background: url("../../assets/capa-cta-login.jpg");
    background-position-y: top;
    background-attachment: fixed;
    object-fit: cover;
    background-repeat: no-repeat;
    
    display: flex;
    align-items: center;

    & h3{
        color: var(---global-body-color);
        text-align: center;
    }

    form{
        justify-content: space-evenly;
    }

    & button{
        color: var(---global-body-color);
    }

    & button:hover{
        border: 1px solid var(---global-body-color);
        color: var(---global-body-color);
    }
}


@media only screen and (max-width:768px){
    .ImgParallax{
        width: 100%;
        justify-content: center;
    }
}